<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>Learn How to Become a Master at this Children's Card Game</h1>
    <br />
    <h2>You'll be able to beat all of the kids</h2>
    <br />
    <%= link_to 'Learn More', courses_path, class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>
<br />
<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>Amazing Tutorials</h3>
    <br />
    <p>
      We have a huge stash of tuts that will teach you to play the latest meta
      cards to cheese your way to victory!
    </p>
  </div>

  <div class="col-12 col-sm">
    <h3>Come Back at Any Time</h3>
    <br />
    <p>
      We have tons of of decks full of OP cards providing the utter joy of
      crushing your "Worthy Opponent's" basic deck.
    </p>
  </div>

  <div class="col-12 col-sm">
    <h3>Join Us</h3>
    <br />
    <p>
      We are the aggro shamans, the freeze mages, the face hunter, the zoo lock
      sucking the fun out of the game for any non-meta slave.
    </p>
  </div>
</div>
